.heart-full {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient($color-secondary, $color-primary);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .heart-full:hover {
    opacity: 1;
    background-position: 0% 100%;
    background-image: linear-gradient($color-secondary, $color-primary);
    transition: opacity 1s ease-in-out;
  }
  
  .fa-heart {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
  }