/***** Loader *****/
@keyframes fade {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }


@keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }

@keyframes rotate {
    to {
      transform: rotateY(360deg);
    }
  }