@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    background: linear-gradient(to top, $primary-color,$secondary-color);
    color: white;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.30);
    padding: 13px;
    
}